* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: solid red; */
}

body,
.wrapper_programming,
.wrapper_work, .wrapper_list {
	padding: 5px;
}

.wrapper_work, .wrapper_list, .dinamic_div{
	display: none;
}



.wrap_color {
	display: inline;
	position: relative;
}

.mce-container {
	position: absolute;
	top: 25px;
	left: 0px;
	z-index: 20;
	border: 1px solid #d6d6d6;
	display: none;
}

.mce-grid {
	border-spacing: 2px;
	border-collapse: separate;
}

.mce-colorbutton-grid {
	margin: 4px;
}

.mce-grid td.mce-grid-cell div {
	padding: 0px;
	border: 1px solid #d6d6d6;
	width: 15px;
	height: 15px;
	margin: 0;
	cursor: pointer;
}

.mini_but_color {
	cursor: pointer;
	width: 100%;
	height: 100%;
	padding-block: 0px;
	padding-inline: 0px;
	border-width: 0px;
}

.wrapper_editing {
	border: solid 2px blue;
}

.myTxtArea,
.myTxtArea_div{
	width: 98vw;
	/* height: 20vh;
	height: auto; */
	padding: 5px;
	margin-top: 5px;
	font-size: 16px;
	font-family: monospace;

	border: solid 2px red;
}

.dinamic_div_hide {
	position: absolute;
	right: 5px;
	top: 5px;
}
.draggable {
	cursor: move;
}

.dinamic_div, .dinamic_div_prog {
	height: auto;
	border: solid 1px black;
	display: none;
	position: relative;
	padding: 5px;
	margin-top: 5px;
	font-size: 16px;
	font-family: monospace;
	border: solid 2px red;
}

.edit_questionList_item, .delete_questionList_item{
	/* border: solid 1px gray; */
	cursor: pointer;
}

.menu button, .wrapper_editing button{
	padding: 2px;
}

.wrapper_list{
	/* display: ; */
	justify-content: space-between
}

.p_answer_noEnd{
	cursor: pointer;
	margin-bottom: 5px;
}

.questionList_item, .p_answer_noEnd_false{
	cursor: pointer;
	margin-bottom: 15px;
	/* padding-left: 20px; */
	display: inline;
	width: auto;
	text-align: center;
	position: relative;
	/* z-index: -10; */
}

.wrapper_questionList_item {
	/* text-align: center; */
}


/* .wrapper_button_questionList_item{
	display: none;
} */

.show{
	display: block;
}

.wrapper_AnswerAll{
	margin-bottom: 10px;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: -10;
	
}

.item_answer_list{
	cursor: pointer;
	margin-bottom: 5px;
}

.wrapper_questionList_item{
	/* display: flex; */
	justify-content: center;
	width: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.head_p{
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.p_answer_noBeginning_falsehead{
	margin-bottom: 5px;
	cursor: pointer;
}

.wrapper_false_answers_head{
	display: none;
}

.answers_false_beginning{
	
}



.wrapper_questions_answers{
	width: 66vw;
}



.droppable {
	border: 2px dashed #aaa;
	padding: 30px;
	margin: 10px;
}

.droppable.active {
	border-color: #4CAF50;
}